/* Fancybox
// ====================*/
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
  outline: none; }
  .fancybox-wrap *:focus {
    outline: none; }

.fancybox-skin {
  position: relative;
  background: transparent;
  color: #444;
  padding: 0 !important;
  margin-top: 10px; }
  .fancybox-skin iframe {
    width: 100%;
    height: 100%; }

.fancybox-opened {
  z-index: 8030; }

.fancybox-image {
  height: 100%;
  max-width: 100%;
  max-height: 100%; }

.fancybox-close {
  position: absolute;
  top: -30px;
  right: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 8040; }
  .fancybox-close:before, .fancybox-close:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    background: #fff;
    width: 18px;
    height: 1px;
    border: none; }
  .fancybox-close:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg); }

.fancybox-nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: #fff;
  z-index: 8040; }

.fancybox-next:before, .fancybox-prev:before {
  content: '';
  position: absolute;
  bottom: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  background: #333;
  width: 15px;
  height: 2px;
  border: none; }

.fancybox-next:after, .fancybox-prev:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  background: #333;
  width: 15px;
  height: 2px;
  border: none; }

.fancybox-prev:before {
  -ms-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  -webkit-transform: translateX(-50%) rotate(45deg); }

.fancybox-prev:after {
  -ms-transform: translateX(-50%) rotate(-45deg);
  transform: translateX(-50%) rotate(-45deg);
  -webkit-transform: translateX(-50%) rotate(-45deg); }

.fancybox-prev {
  left: -30px; }

.fancybox-next {
  right: -30px; }

/* Overlay helper */
.fancybox-lock {
  overflow: hidden !important;
  width: auto; }

.fancybox-lock body {
  overflow: hidden !important; }

.fancybox-lock-test {
  overflow-y: hidden !important; }

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.8); }

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0; }

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll; }

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  visibility: hidden;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important; }

/*Retina graphics!*/
