figure .links-wrap:after{
	background: #3D73B8;
  background: -webkit-linear-gradient(left, #37D97D 0%, #3D73B8 100%);
  background: -moz-linear-gradient(left, #37D97D 0%, #3D73B8 100%);
  background: -ms-linear-gradient(left, #37D97D 0%, #3D73B8 100%);
  background: -o-linear-gradient(left, #37D97D 0%, #3D73B8 100%);
  background: linear-gradient(left, #37D97D 0%, #3D73B8 100%);
}
@media(max-width: 992px){
  .k-nav-inside{
		background: #3D73B8;
	  background: -webkit-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
	  background: -moz-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
	  background: -ms-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
	  background: -o-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
	  background: linear-gradient(right, #d95e2d 0%, #3D73B8 100%);
	}
}
#page-preloader,
.bg-primary,
.shape-after,
.pricing-box-head,
.pricing-box-head:after,
figure figcaption:after,
.video-wrap .overlay-image:before, .video-wrap .overlay-image:after,
.contact-data,
.k-nav:after,
.first-section,
.first-section.video:before,
.first-section.bg-image:before,
.main-footer{
	background: #3D73B8;
  background: -webkit-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
  background: -moz-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
  background: -ms-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
  background: -o-linear-gradient(right, #37D97D 0%, #3D73B8 100%);
  background: linear-gradient(right, #37D97D 0%, #3D73B8 100%);
}

.contact-form1, #openPositionList{
    width: 500px;
    clear: both;
    color: white;
}

div > div > input:focus, div > div > textarea:focus {
    color: #bce8f1;
    opacity: 15;
}
div > div > input, div > div > textarea {
    color: #bce8f1;
    opacity: 15;
}

div > input:focus {
    color: #040b1a;
    opacity: 5;
}


a:hover,
a:focus,
h1 a:focus, h1 a:hover, h2 a:focus, h2 a:hover, h3 a:focus, h3 a:hover, h4 a:focus, h4 a:hover, h5 a:focus, h5 a:hover, h6 a:focus, h6 a:hover, .h1 a:focus, .h1 a:hover, .h2 a:focus, .h2 a:hover, .h3 a:focus, .h3 a:hover, .h4 a:focus, .h4 a:hover, .h5 a:focus, .h5 a:hover, .h6 a:focus, .h6 a:hover,
html body .text-primary,
.btn-default:hover,
.btn-primary,
.download-btn a,
.download-btn i,
.icon-wrap,
.pricing-box .btn-default,
.pricing-box .btn-primary:hover,
.video-wrap .btn-play,
.contact-form .btn:active:focus, .contact-form .btn:focus:hover {
  color: #3D73B8;
}

body::-webkit-scrollbar-thumb,
.icon-primary,
.marked-list li span:before, .marked-list li span:after,
.bullet-list li span:before,
.divider,
.pricing-box .btn-default:hover,
.pricing-box .btn-default:active:focus,
.pricing-box .btn-primary,
.contact-form .btn,
.owl-controls .owl-dot.active,
.toTopButton {
  background: #3D73B8;
}

.icon-wrap,
.icon-wrap:after,
.pricing-box .btn-default,
.pricing-box .btn-primary:hover,
.form-control:focus,
.contact-form .btn,
.owl-controls .owl-dot {
	border-color: #edf9fa
    color: #bce8f1;
}

//3D73B8